.table-container {
  background-color: #ffffff;
  border-radius: 8px;
}

.filter .dropdown-menu {
  position: absolute;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.filter .dropdown-item {
  cursor: pointer;
}

.filter .dropdown-item:hover {
  background-color: #ccc;
}

.filter .dropdown-item.active {
  background-color: #0d6efd;
  color: white;
}

.table-responsive {
  overflow-x: auto;
}

.table .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.filter-content {
  margin-bottom: 10px;
}

.filter .btn.btn-primary {
  border-color: #0d6efd;
}

.badge {
  font-size: 85%;
  padding: 0.35em 0.65em;
}

.table-active {
  background-color: rgba(0, 0, 0, 0.075);
}

.pagination {
  margin-bottom: 0;
}